.carousel-item {
    /* width: 90%; */
    min-height: 90vh;
    text-align: center;
}

.carousel-caption {
    padding-top: 0px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    background: rgb(0, 0, 0, 0.7);
    font-size: 1rem;
    text-shadow: 1px 1px 0 gray;
    text-decoration: underline;
}

.carousel-indicators [data-bs-target] {
    text-shadow: 1px 1px 0 grey;
    background-color: orange;
}

.carousel-inner {
    display: flex;
    align-items: center;
}

.dblock {
    border-radius: 25px;
    padding: 10px;
    width: 71vw;
    height: 40vw;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .dblock {
        width: 100vw;
        height: 56vw;
    }
}