.carousel-item {
    /* width: 90%; */
    min-height: 90vh;
}

.carousel-caption {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-shadow: 1px 1px 0 gray;
    text-decoration: underline;
}

.carousel-indicators [data-bs-target] {
    text-shadow: 1px 1px 0 grey;
    background-color: orange;
}

@media only screen and (min-width: 1000px) {
    .dblock {
        width: 70vw;
        height: 39vw;
    }
}